/* reset css style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style for App.js */
.App {
  height: 100%;
  width: auto;
  background-color: #f1f1f1;
}

/* style for Home.js */
.ProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}
